<h1>About Par Crawl</h1>

<div class="span8 offset2 about-text">
	<div class="what">
		<h2>What is Par Crawl?</h2>
		<p>Par Crawl is a free online scorecard application for the popular social drinking game <%= link_to 'Pub Golf', "http://en.wikipedia.org/wiki/Pub_Golf" %>.  All it takes to play is access to the web while you're out, a few pals with the common sense of college kids, and a tolerance for alcohol greater than that of <%= link_to 'James Brown', "http://www.youtube.com/watch?v=9tfNhL_R_rI" %>.</p>
	</div>
	
	<div class="how">
		<h2>How do I play?</h2>
		<p>While there are a million different ways you can play, Par Crawl keeps it simple.</p>
			<ol id="game-steps">
				<li class="game-step">Create a match</li>
				<li class="game-step">Add some holes</li>
				<li class="game-step">Keep score of your drunken antics.</li>
			</ol>
		<p>With Par Crawl, you can add up to nine holes (a.k.a. bars) to play.   Add your strokes as you drink your way through.  Don't forget to penalize yourself and friends for being idiots.</p>
	</div>
	
	<div class="why">
	<h2>Why? Because it's fun!</h2>
	<p>This project was made for fun and enjoyment.  It is open source; anyone can contribute however they see fit.  Please feel free to <%= link_to 'tweet suggestions', "http://twitter.com/sudojack" %> or <%= link_to 'take a gander at the source', "https://github.com/jacobaweiss/parcrawl" %>.  Enjoy and be relatively safe.</p>
	</div>
</div>