.new-match {
	text-align: center;
	margin-top: 20px;
}

.main-title {
	font-size: 6em;
	line-height: 80%;
	text-align: center;
}

.match-head {
	text-align: center;
	h1 {
		font-size: 4em;
		margin-bottom: 20px;
		line-height: 90%;
	}
}

.visible-phone {
	margin-top: -45px;
}

.phone-flashes {
	padding-bottom: 2em;
}

.score-title, .new-player-form, .current-matches, .holes-title, .hole-form, .new-score-form {
	text-align: center;
}

.new-player-form, .new-penalty-form, .new-hole-form, .new-score-form {
	display: none;
}

.under-par {
	color: green;
}

.over-par {
	color: red;
}

.password-form {
	text-align: center;
}

.match-content {
	margin-bottom: 2em;
	
	.pull-right {
		margin-right: 1em;
	}
}

.leader-line{
	margin-right: 1em;
}

.player-facts {
	padding-left: 1.5em;
}