.new-match {
	text-align: center;
	margin-top: 20px;
}

.main-title {
	font-size: 6em;
	line-height: 80%;
	text-align: center;
}

.match-head {
	text-align: center;
	h1 {
		font-size: 4em;
		margin-bottom: 20px;
		line-height: 90%;
	}
}

.score-title, .new-player-form, .current-matches, .holes-title {
	text-align: center;
}

.under-par {
	color: green;
}

.over-par {
	color: red;
}