<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<%= link_to "Par Crawl", root_path, :class => "brand" %>
			
			<div class="nav-collapse">
				<ul class="nav">
					<% if cookies[:logged_into_match] %>
						<li><%= link_to 'Your Match', match_path(Match.find(cookies[:logged_into_match])) %></li>
					<% elsif cookies[:players_match] %>
						<li><%= link_to 'Your Match', match_path(Match.find(cookies[:players_match])) %></li>
					<% end %>
					<li><%= link_to 'About', '/about' %></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>